[main]
  serialize = "{version}-{banner}"
  tag = true
  version = "1.7.0"

[[operate]]
  location = "pyproject.toml"
  replace = "version = \"{}\""
  search = "version = \"{}\""

[[operate]]
  location = "README.md"
  replace = "Current version: **{}**"
  search = "Current version: **{}**"

[[operate]]
  location = "README_CN.md"
  replace = "当前版本: **{}**"
  search = "当前版本: **{}**"